
/* Heading */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
}

#logos {
    color: MediumAquamarine;
    display: inline-flex;
    padding-left: 6px;

}

.container-1 li {
    display: inline-flex;
    justify-content: flex-end;

    /*
    padding-left: 400px;
    */

}
.container-1 a.p1 {
    display: flex;
    justify-content: flex-end;
    color: green;
    /*padding-left: 1000px;*/
}
/* Content */
.column.large {
    float: left;
    width: 630px;
    border: 1px solid black;
    margin-top: 30px;
    
  }
.box1, .box2, .box3 {
    border: 1px solid black;
}
.heading {
    border: 1px solid black;
    margin-top: 1px;

}
.column.medium {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 30px;
  }

