

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
}

#logos {
    color: MediumAquamarine;
    display: inline-flex;
    padding-left: 6px;

}

.container-1 li {
    display: inline-flex;
    justify-content: flex-end;

    /*
    padding-left: 400px;
    */

}
.container-1 a.p1 {
    display: flex;
    justify-content: flex-end;
    color: green;
    /*padding-left: 1000px;*/
}

